@prefix: fan-;
@space-s: 4px;
@space-default: 8px;
@color-primary: #8dc63f;
@motion-func-default: ease-in-out;
@motion-duration-default: 0.3s;

html, body, body > div {
  font-size: 16px;
  height: 100%;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

[class^=opt-] {
  display: inline-block;
  z-index: 500;
  font-size: 12px;
  color: #333;
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 2px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
}

.layout {
  display: flex;
  height: 100%;
}

.layout-sider {
  padding-top: 15px;
  width: 200px;
  background-color: #ccc;
  height: 100%;

  .accordion-group {

    li {

      &:first-child {
        padding: 4px;
        margin-left: -15px;
        margin-right: -15px;
        background-color: #aaa;
      }
    }

    .box {
      width: 170px;
      flex-shrink: 0;
      position: relative;
      margin: 8px 0;

      [class^=opt-] {
        display: none;
      }
      .opt-copy {
        position: relative;
        display: inline-block;
        background-color: #999;
        color: #fff;
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -12px;

        /* copy 元素显示为拖拽 */
        &::after {
          content: '拖拽';
          width: 100%;
          height: 100%;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          line-height: 22px;
          background: #999;
        }
      }
      .pseudo-element {
        display: none;
      }
      .view {
        display: none;
      }
    }
  }
}

.layout-container {
  flex: 1;
  padding: 15px;
  background: #eee;

  .demo {
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    padding: 30px 15px 15px;
    min-height: 800px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;

    &::after {
      background-color: #F5F5F5;
      border: 1px solid #DDDDDD;
      border-radius: 4px 0 4px 0;
      color: #9DA0A4;
      content: "Container";
      font-size: 12px;
      font-weight: bold;
      left: -1px;
      padding: 3px 7px;
      position: absolute;
      top: -1px;
    }

    .box {

      .preview,
      [class^=opt-] {
        display: none;
      }
    }

    .placeholder {
      border: 2px dashed #ccc;

      &.inline {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// 编辑状态
.demo.edit {
  .box {
    position: relative;

    /* space start */
    .pseudo-element{
      position: absolute;

      &::after,
      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        background: #3498d8;
      }
    }

    &.space-horizontal {

      .pseudo-element {
        top: 50%;
        margin-top: 10px;  // 25 / 2 - 2
        width: 100%;
        height: 2px;
        background: repeating-linear-gradient(45deg, #ebf5f8, #ebf5f8 4px, #3498d8 4px, #3498d8 8px);

        &::after,
        &::before {
          width: 2px;
          height: 6px;
          margin-top: -2px;
        }

        &::after {
          right: 0;
        }
      }
    }

    &.space-vertical {
      height: 8px;
      text-align: center;

      .pseudo-element {
        margin-top: 25px;  // 空出操作按钮间距
        display: inline-block;
        width: 2px;
        height: 100%;
        background: repeating-linear-gradient(45deg, #ebf5f8, #ebf5f8 4px, #3498d8 4px, #3498d8 8px);

        &::after,
        &::before {
          margin-left: -3px;
          width: 6px;
          height: 2px;
        }

        &::after {
          bottom: 0;
        }
      }
    }
    /* space end */

    .view {
      padding-top: 25px;
    }



    .size-group,
    & > [class^=opt-] {
      opacity: 0;
      position: absolute;
    }

    // .opt-copy,
    // .opt-move,
    // .opt-remove {
    //   opacity: .5;
    // }

    .opt-remove {
      background-color: #f4511e;
      color: #fff;
      right: 0;
    }

    .opt-move {
      background-color: #999;
      color: #fff;
      right: 54px;
    }

    .opt-copy {
      background-color: #999;
      color: #fff;
      right: 108px;
    }

    [class^=opt-] {
      display: inline-block;
    }
    .size-group {
      right: 160px;
      white-space: nowrap;

      & > [class^=opt-] {
        margin-left: 8px;
      }
    }
    .opt-border {
      position: absolute;
      right: 160px;
    }

    &:hover {
      z-index: 1000;

      & > .size-group,
      & > .opt-border,
      & > .opt-copy,
      & > .opt-move,
      & > .opt-remove {
        opacity: 1;
      }
    }
  }
}

.box.inline {
  display: inline-block;
}

.action-bar {
  text-align: right;

  .ant-btn {
    margin-left: 16px;
  }

  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
